@import 'tailwindcss';
@config '../tailwind.config.ts';

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-app-bg text-content-secondary font-sans antialiased;
    margin: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}